/**
 * =================================================================== 
 *  01. webfonts and iconfonts
 *  02. base style overrides
 *  03. typography & general theme styles
 *  04. forms
 *  05. buttons 
 *  06. other components
 *  07. common styles
 *  08. header styles
 *  09. intro
 *  10. about
 *  11. resume
 *  12. portfolio
 *  13. interests
 *  14. contact
 *  15. footer
 *
 * =================================================================== 
 */


/** 
 * ===================================================================
 * 01. webfonts and iconfonts
 *
 * ------------------------------------------------------------------- 
 */
@import url("font-awesome/css/font-awesome.min.css");
@import url("micons/micons.css");


/** 
 * ===================================================================
 * 02. base style overrides
 *
 * ------------------------------------------------------------------- 
 */
html {
	font-size: 10px;
	scroll-behavior: smooth;
}

@media only screen and (max-width:1024px) {
	html {
		font-size: 9.411764705882353px;
	}
}
@media only screen and (max-width:768px) {
	html {
		font-size: 10px;
	}
}
@media only screen and (max-width:400px) {
	html {
		font-size: 9.411764705882353px;
	}
}

html, body {
	height: 100%;
}
body {
	font-family: "Montserrat-Regular", sans-serif;
	font-size: 1.7rem;
	line-height: 3rem;
	color: #000000;
}

/**
 * links
 * -------------------------------------------------------------------
 */
a, a:visited {
	color: #000000;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
a:hover, a:focus, a:active {
	color: #FFA500;
	outline: 0;
}

/** 
 * ===================================================================
 * 03. typography & general theme styles
 *
 * ------------------------------------------------------------------- 
 */
h1, h2, h3, h4, h5, h6 {
	font-family: "Montserrat-SemiBold", sans-serif;
	color: #FFA500;
	font-style: normal;
	text-rendering: optimizeLegibility;
	margin-bottom: 2.1rem;
}
h3, h4 {
	margin-bottom: 1.8rem;
}
h5, h6 {
	font-family: "Montserrat-Bold";
	margin-bottom: 1.2rem;
}
h1 {
	font-size: 3.1rem;
	line-height: 1.355;
	letter-spacing: -.1rem;
}
@media only screen and (max-width:600px) {
	h1 {
		font-size: 2.6rem;
		letter-spacing: -.07rem;
	}
}
h2 {
	font-size: 2.4rem;
	line-height: 1.25;
}
h3 {
	font-size: 2rem;
	line-height: 1.5;
}
h4 {
	font-size: 1.7rem;
	line-height: 1.765;
}
h5 {
	font-size: 1.4rem;
	line-height: 1.714;
	text-transform: uppercase;
	letter-spacing: .15rem;
}
h6 {
	font-size: 1.3rem;
	line-height: 1.846;
	text-transform: uppercase;
	letter-spacing: .15rem;
}
p img {
	margin: 0;
}
p.lead {
	font-family: "Montserrat-Regular", sans-serif;
	font-size: 17px;
	line-height: 1.3;
	color: #000000;
}
@media only screen and (max-width:768px) {
	p.lead {
		font-size: 1.7rem;
	}
}

/**
 * Lists
 * -------------------------------------------------------------------
 */
ol {
	list-style: decimal;
}
ul {
	list-style: disc;
}
li {
	display: list-item;
}
ol, ul {
	margin-left: 1.7rem;
}
ul li {
	padding-left: .4rem;
}
ul ul, ul ol, ol ol, ol ul {
	margin: .6rem 0 .6rem 1.7rem;
}

/**
 * Spacing
 * -------------------------------------------------------------------
 */
button, .button {
	margin-bottom: 1.2;
}
fieldset {
	margin-bottom: 1.5rem;
}

/**
 * floated image
 * -------------------------------------------------------------------
 */
img.pull-right {
	margin: .9rem 0 0 2.4rem;
}
img.pull-left {
	margin: .9rem 2.4rem 0 0;
}

/**
 * block grid paddings
 * -------------------------------------------------------------------
 */
.bgrid {
	padding: 0 20px;
	width: 50%;
}
@media only screen and (max-width:1024px) {
	.bgrid {
		padding: 0 18px;
	}
}
@media only screen and (max-width:768px) {
	.bgrid {
		padding: 0 15px;
	}
}
@media only screen and (max-width:600px) {
	.bgrid {
		width: auto;
		padding: 0 10px;
	}
}
@media only screen and (max-width:400px) {
	.bgrid {
		padding: 0;
	}
}


/** 
 * ===================================================================
 * 04. forms
 *
 * ------------------------------------------------------------------- 
 */
fieldset {
	border: none;
}
input[type="email"],
input[type="number"],
input[type="text"],
textarea {
	display: block;
	height: 6rem;
	padding: 1.5rem 0;
	border: 0;
	outline: none;
	vertical-align: middle;
	color: #313131;
	font-family: "Montserrat-Regular", sans-serif;
	font-size: 1.5rem;
	line-height: 3rem;
	max-width: 100%;
	background: transparent;
	border-bottom: 1px solid rgba(0, 0, 0, 0.3);
	 -moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out; 
	transition: all 0.3s ease-in-out;
}

/** 
 * ===================================================================
 * 05. buttons
 *
 * ------------------------------------------------------------------- 
 */
.button,
a.button,
button {
	display: inline-block;
	font-family: "Montserrat-Bold", sans-serif;
	font-size: 1.4rem;
	text-transform: uppercase;
	letter-spacing: .3rem;
	height: 5.4rem;
	line-height: 5.4rem;
	padding: 0 3rem;
	margin: 0 .3rem 1.2rem 0;
	background: #d8d8d8;
	color: #313131;
	text-decoration: none;
	cursor: pointer;
	text-align: center;
	white-space: nowrap;
	border: none;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.button:hover,
a.button:hover,
button:hover,
.button:focus,
button:focus {
	background: #bebebe;
	color: #000000;
	outline: 0;
}
.button.button-primary,
a.button.button-primary,
button.button-primary {
	background: #313131;
	color: #FFFFFF;
}
.button.button-primary:hover,
a.button.button-primary:hover,
button.button-primary:hover,
.button.button-primary:focus,
button.button-primary:focus {
	background: #1f1f1f;
}
button.full-width, .button.full-width {
	width: 100%;
	margin-right: 0;
}
button.medium, .button.medium {
	height: 5.7rem !important;
	line-height: 5.7rem !important;
	padding: 0 1.8rem !important;
}
button.large, .button.large {
	height: 6rem !important;
	line-height: 6rem !important;
	padding: 0rem 3rem !important;
}
button.stroke, .button.stroke {
	background: transparent !important;
	border: 3px solid #313131;
	line-height: 4.8rem;
}
button.stroke.medium, .button.stroke.medium {
	line-height: 5.1rem !important;
}
button.stroke.large, .button.stroke.large {
	line-height: 5.4rem !important;
}
button.stroke:hover, .button.stroke:hover {
	border: 3px solid #FFA500;
	color: #FFA500;
}



/** 
 * ===================================================================
 * 06. other components
 *
 * ------------------------------------------------------------------- 
 */

/**
 * skillbars
 * -------------------------------------------------------------------
 */
.skill-bars {
	list-style: none;
	margin: 6rem 0 3rem;
}
.skill-bars li {
	height: .6rem;
	background: black;
	width: 100%;
	margin-bottom: 6rem;
	padding: 0;
	position: relative;
}
.skill-bars li strong {
	position: absolute;
	left: 0;
	top: -3rem;
	font-family: "Montserrat-Bold", sans-serif;
	color: #FFA500;
	text-transform: uppercase;
	letter-spacing: .2rem;
	font-size: 1.5rem;
	line-height: 2.4rem;
}
.skill-bars li .progress {
	background: red;
	position: relative;
	height: 100%;
}
.skill-bars li .progress span {
	position: absolute;
	right: 0;
	top: -3.6rem;
	display: block;
	font-family: "Montserrat-Regular", sans-serif;
	color: white;
	font-size: 1.1rem;
	line-height: 1;
	background: #313131;
	padding: .6rem .6rem;
	border-radius: 3px;
}
.skill-bars li .progress span::after {
	position: absolute;
	left: 50%;
	bottom: -5px;
	margin-left: -5px;
	border-right: 5px solid transparent;
	border-left: 5px solid transparent;
	border-top: 5px solid #313131;
	content: "";
}

.skill-bars li .percent5   { width: 5%; }
.skill-bars li .percent10  { width: 10%; }
.skill-bars li .percent15  { width: 15%; }
.skill-bars li .percent20  { width: 20%; }
.skill-bars li .percent25  { width: 25%; }
.skill-bars li .percent30  { width: 30%; }
.skill-bars li .percent35  { width: 35%; }
.skill-bars li .percent40  { width: 40%; }
.skill-bars li .percent45  { width: 45%; }
.skill-bars li .percent50  { width: 50%; }
.skill-bars li .percent55  { width: 55%; }
.skill-bars li .percent60  { width: 60%; }
.skill-bars li .percent65  { width: 65%; }
.skill-bars li .percent70  { width: 70%; }
.skill-bars li .percent75  { width: 75%; }
.skill-bars li .percent80  { width: 80%; }
.skill-bars li .percent85  { width: 85%; }
.skill-bars li .percent90  { width: 90%; }
.skill-bars li .percent95  { width: 95%; }
.skill-bars li .percent100 { width: 100%; }


/** 
 * ===================================================================
 * 07. common styles
 * 
 * ------------------------------------------------------------------- 
 */
.grey-section {
	background: #000000;
}
.grey-section p.lead {
	color: #ffffff;
}
.section-intro {
	max-width: 975px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	margin-bottom: 3.6rem;
	position: relative;
}
.section-intro h1 {
	font-family: "Montserrat-SemiBold", serif;
	font-size: 3.6rem;
	color: #FFA500;
	line-height: 1.25;
	margin-bottom: 1.2rem;
}
.section-intro h5 {
	color: #FFA500;
	font-size: 1.6rem;
	line-height: 1.875;
	margin-bottom: 0.3rem;
	letter-spacing: .4rem;
}

/**
 * responsive:
 * common styles
 * ------------------------------------------------------------------- 
 */
@media only screen and (max-width:768px) {
	.section-intro {
		max-width: 650px;
	}
	.section-intro h1 {
		font-size: 3rem;
	}
}
@media only screen and (max-width:600px) {
	.section-intro h1 {
		font-size: 2.6rem;
	}
	.section-intro h5 {
		font-size: 1.5rem;
		letter-spacing: .3rem;
	}
}
@media only screen and (max-width:400px) {
	.section-intro h1 {
		font-size: 2.4rem;
	}
}


/** 
 * ===================================================================
 * 08. header styles
 *
 * ------------------------------------------------------------------- 
 */
header {
	position: fixed;
	width: 100%;
	min-height: 66px;
	z-index: 600;
}
header .row {
	position: relative;
	min-height: 66px;
}
header .top-bar {
	display: block;
	margin: 0 60px 0 60px;
	min-height: 66px;
	position: relative;
}
header .logo {
	float: left;
	margin: 14px 18px 14px 18px;
}
header .logo a {
	font-family: 'Comic Sans MS';
	color: #FFA500;
	font-size: 41px;
	margin: 60px;
	padding: 5px;
	border: none;
	text-shadow: none;
	width: 92px;
	height: 15px;
	cursor: pointer;
}

/* menu toggle*/
header .toggle {
	display: none;
	margin: 0 22px 0 22px;
	font-family: "Montserrat-Regular", sans-serif;
	position: absolute;
	right: 10px;
	top: 12px;
	color: #fff;
	padding: 5px;
	cursor: pointer;
}


/* navigation panel */
#main-nav-wrap {
	float: right;
	font-family: "Montserrat-Medium", sans-serif;
	font-size: 1.5rem;
	position: relative;
}

/* dropdown nav */
.main-navigation {
	display: inline-flex;
	justify-content: flex-end;
	margin: 8px;
}
.main-navigation > li {
	list-style: none;
	height: auto;
	text-align: left;
	padding: 10px;
}
.main-navigation li a {
	color: #FFFFFF;
	text-transform: uppercase;
	width: auto;
	padding: 15px 0;
	line-height: 16px;
	border: none;
	cursor: pointer;
}
.main-navigation li a:hover {
	color: #FFA500;
}

.scolor {
	color: #FFA500;
}

/**
 * responsive:
 * header styles
 * --------------------------------------------------------------- 
 */
@media only screen and (max-width:1024px) {
	#main-nav-wrap {
	 	width: 100%;
	 	background: rgba(0,0,0,.85);
	 	display: none;
	 	margin-top: 59px;
		flex-direction: column;
		justify-content: center;
	}
	header .toggle {
		display: block;
		font-size: 20px;
	}

	header .top-bar {
		margin: 0 0 0 0;
	}
	
	header .main-navigation li a {
		margin: 0;
		font-size: 20px;
		text-align: center;
		display: block;
		color: #fff;
	}
	header .main-navigation {
		display: block;
	} 
}
@media only screen and (max-width:768px) {
	header .toggle {
		display: block;
		font-size: 15px;
	}
}
@media only screen and (max-width:600px) {
	header .toggle {
		display: block;
		font-size: 15px;
	}
}
@media only screen and (max-width:400px) {
	header .toggle {
		display: block;
		font-size: 15px;
	}
	header .main-navigation li a {
		line-height: 0px;
		font-size: 12px;
		text-align: center;
		display: block;
		color: #fff;
	}
}


/** 
 * ===================================================================
 * 09. intro
 * 
 * ------------------------------------------------------------------- 
 */
#intro {
	background: #151515 url(../images/intro-bg.jpg) no-repeat center bottom;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	background-attachment: fixed;
	width: 100%;
	height: 100%;
	min-height: 720px;
	display: table;
	position: relative;
	text-align: center;
}
.intro-overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #111111;
	opacity: .85;
}

.intro-content {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	-webkit-transform: translateY(-2.1rem);
	-ms-transform: translateY(-2.1rem);
	transform: translateY(-2.1rem);
}
.intro-content h1 {
	color: #FFFFFF;
	font-family: 'Montserrat', sans-serif;
	font-size: 8.4rem;
	line-height: 1.071;
	max-width: 900px;
	margin-top: 0;
	margin-bottom: .6rem;
	margin-left: auto;
	margin-right: auto;
	text-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}
.intro-content h5 {
	color: #FFA500;
	font-family: "Montserrat-Bold";
	font-size: 2.3rem;
	line-height: 1.565;
	margin-bottom: 0;
	text-transform: uppercase;
	letter-spacing: .3rem;
	text-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
}
.intro-content .intro-position {
	font-family: "Montserrat-Bold", sans-serif;
	font-size: 1.7rem;
	line-height: 2.4rem;
	text-transform: uppercase;
	letter-spacing: .2rem;
	color: #FFFFFF;
	text-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
}
.intro-content .intro-position span {
	display: inline-block;
}
.intro-content .intro-position span::after {
	/*content: "|";*/
	text-align: center;
	display: inline-block;
	padding: 0 8px 0 14px;
	color: rgba(255, 255, 255, 0.3);
}
.intro-content .intro-position span:first-child::before {
	/*content: "|";*/
	text-align: center;
	display: inline-block;
	padding: 0 14px 0 8px;
	color: rgba(255, 255, 255, 0.3);
}
.intro-content .button {
	color: #FFFFFF !important;
	border-color: rgba(255, 255, 255, 0.3);
	height: 6rem !important;
	line-height: 5.4rem !important;
	padding: 0 3.5rem 0 3rem !important;
	margin-top: 6.6rem;
	font-size: 1.3rem;
	text-transform: uppercase;
	letter-spacing: .25rem;
}
.intro-content .button:hover, .intro-content .button:focus {
	border-color: #FFA500;
}
.intro-content .button::after {
	display: inline-block;
	content: "\f107";
	font-family: fontAwesome;
	font-size: 1.6rem;
	line-height: inherit;
	text-align: center;
	position: relative;
	left: 1.2rem;
}

.intro-social {
	display: block;
	position: absolute;
	width: 100%;
	left: 0;
	bottom: 7.2rem;
	font-size: 3.3rem;
	margin: 0;
	padding: 0;
}
.intro-social li {
	display: inline-block;
	margin: 0 20px;
	padding: 0;
}
.intro-social li a, .intro-social li a:visited {
	color: #FFFFFF;
}
.intro-social li a:hover, .intro-social li a:focus {
	color: #FFA500;
}

/**
 * responsive:
 * Intro
 * --------------------------------------------------------------- 
 */
@media only screen and (max-width:1024px) {
	.intro-content h1 {
		font-size: 7.6rem;
	}
	.intro-social {
		font-size: 3rem;
	}
	.intro-social li {
		margin: 0 15px;
	}
}
@media only screen and (max-width:768px) {
	#intro {
		min-height: 660px;
	}
	.intro-content h1 {
		font-size: 5.2rem;
	}
	.intro-content h5 {
		font-size: 1.8rem;
	}
	.intro-content .intro-position {
		font-size: 1.3rem;
	}
	.intro-social {
		font-size: 2.5rem;
	}
	.intro-social li {
		margin: 0 10px;
	}
}
@media only screen and (max-width:600px) {
	#intro {
		min-height: 600px;
	}
	.intro-content h1 {
		font-size: 4.6rem;
		margin-bottom: .6rem;
	}
	.intro-content h5 {
		font-size: 1.5rem;
		margin-bottom: .3rem;
		letter-spacing: .2rem;
	}
	.intro-content .intro-position {
		font-size: 1.2rem;
	}
	.intro-content .intro-position span {
		padding: 0 .6rem;
	}
	.intro-content .intro-position span::before, .intro-content .intro-position span::after {
		display: none !important;
	}
	.intro-social {
		font-size: 2.4rem;
	}
}
@media only screen and (max-width:400px) {
	.intro-content h1 {
		font-size: 3.6rem;
		margin-bottom: .6rem;
	}
}


/** 
 * ===================================================================
 * 10. about
 *
 * ------------------------------------------------------------------- 
 */
#about {
	background: #ffffff;
	padding-top: 12rem;
	padding-bottom: 15rem;
}
#about .section-intro {
	margin-bottom: 3rem;
}

.intro-info {
	margin-top: 4.2rem;
	margin-left: 66px;
}
.intro-info img {
	height: 20rem;
	width: 20rem;
	border-radius: 50%;
	margin: -1.1rem 7.1rem 0 0;
}
.intro-info .lead {
	text-align: left;
	padding-left: 17rem;
	padding-top: 30px;
}

.about-content {
	position: relative;
	text-align: left;
	max-width: 850px;
	margin-bottom: 3.6rem;
}
.about-content p {
	line-height: 1.3;
	font-size: 15px;
}
.about-content h3 {
	font-family: "Montserrat-Bold", sans-serif;
	font-size: 1.8rem;
	text-transform: uppercase;
	letter-spacing: .25rem;
}
.about-content .info-list {
	list-style: none;
	margin-left: 0;
}
.about-content .info-list li {
	padding: 0 0 1.5rem 0;
	margin-bottom: .6rem;
}
.about-content .info-list li strong {
	font-family: "Montserrat-Bold", sans-serif;
	color: #FFA500;
	text-transform: uppercase;
	letter-spacing: .2rem;
	font-size: 1.5rem;
	line-height: 3rem;
}
.about-content .info-list li span {
	display: block;
	font-family: "Montserrat-Regular", sans-serif;
	color: #000000;
	font-size: 1.5rem;
	line-height: 1;
}
.about-content .skill-bars {
	margin-top: 6rem;
}

.button-section {
	text-align: center;
}
.button-section .button {
	width: 250px;
}
.button-section [class*="col-"] .button:first-child {
	margin-right: 4rem;
}

/**
 * responsive:
 * about
 * ------------------------------------------------------------------- 
 */
@media only screen and (max-width:1024px) {
	.intro-info {
		margin-right: 0;
		margin-left: 0;
	}
}
@media only screen and (max-width:768px) {
	.intro-info img {
		height: 7.8rem;
		width: 7.8rem;
	}
	.intro-info .lead {
		padding-left: 11rem;
	}
	.about-content h3 {
		text-align: center;
	}
	.about-content .info-list, .about-content .skill-bars {
		margin-bottom: 4.2rem;
	}
	.button-section .button {
		width: 100%;
		margin-bottom: 3rem;
	}
	.button-section [class*="col-"] .button:first-child {
		margin-right: 0;
	}
}
@media only screen and (max-width:600px) {
	.intro-info {
		text-align: center;
		margin-top: 1rem;
	}
	.intro-info img {
		height: 10.6rem;
		width: 10.6rem;
		margin: 1.1rem;
		display: inline-block;
	}
	.intro-info .lead {
		padding-left: 0;
		text-align: center;
	}
}

/** 
 * ===================================================================
 * 11. resume
 *
 * ------------------------------------------------------------------- 
 */
#resume {
	padding-top: 12rem;
	padding-bottom: 12rem;
}

#resume .resume-header {
	text-align: center;
}
#resume .resume-header h2 {
	color: #FFA500;
}
#resume p {
	color: #ffffff;
}
#resume .resume-timeline {
	max-width: 980px;
}
#resume .timeline-wrap {
	position: relative;
	margin-top: 1.5rem;
	margin-bottom: 6rem;
}
#resume .timeline-wrap::before {
	content: "";
	display: block;
	width: 1px;
	height: 100%;
	background: #FFA500;
	position: absolute;
	left: 35%;
	top: 0;
}
#resume .timeline-block {
	position: relative;
	padding-top: 1.5rem;
}
#resume .timeline-ico {
	height: 4.8rem;
	width: 4.8rem;
	line-height: 4.8rem;
	background: #313131;
	border-radius: 50%;
	text-align: center;
	color: #FFFFFF;
	position: absolute;
	left: 35%;
	top: .9rem;
	margin-left: -2.4rem;
}
#resume .timeline-ico i {
	position: relative;
	left: .05rem;
	top: .2rem;
}

#resume .timeline-header {
	float: left;
	width: 35%;
	padding-right: 90px;
	text-align: right;
}
#resume .timeline-header h3 {
	margin-bottom: 0;
}
#resume .timeline-header p {
	font-family: "Montserrat-Regular", sans-serif;
	font-size: 1.6rem;
	color: #ffffff;
}
#resume .timeline-content {
	margin-left: 35%;
	padding-left: 60px;
}
#resume .timeline-content h4 {
	position: relative;
	padding-bottom: 1.8rem;
}
#resume .timeline-content h4::after {
	content: "";
	display: block;
	height: 3px;
	width: 50px;
	background: #FFA500;
	position: absolute;
	left: 0;
	bottom: 0;
}

/**
 * responsive:
 * resume
 * ------------------------------------------------------------------- 
 */
@media only screen and (max-width:1024px) {
	#resume .timeline-header {
		padding-right: 50px;
	}
	#resume .timeline-header h3 {
		font-size: 1.8rem;
	}
	#resume .timeline-header p {
		font-size: 1.4rem;
	}
	#resume .timeline-content {
		padding-left: 50px;
	}
}
@media only screen and (max-width:768px) {
	#resume .timeline-wrap::before {
		left: 2.4rem;
	}
	#resume .timeline-ico {
		left: 2.4rem;
	}
	#resume .timeline-header {
		float: none;
		width: auto;
		padding-right: 15px;
		text-align: left;
	}
	#resume .timeline-header h3 {
		font-size: 2rem;
	}
	#resume .timeline-header p {
		font-size: 1.5rem;
		margin-bottom: 1.5rem;
	}
	#resume .timeline-content {
		margin: 0;
	}
	#resume .timeline-content h4 {
		padding-bottom: 0;
		padding-top: 2.1rem;
		margin-bottom: .6rem;
		font-size: 1.7rem;
	}
	#resume .timeline-content h4::after {
		bottom: auto;
		top: 0;
	}
	#resume .timeline-header, #resume .timeline-content {
		padding-left: 7rem;
	}
}
@media only screen and (max-width:480px) {
	#resume .resume-header h2 {
		font-size: 2.2rem;
	}
	#resume .timeline-wrap::before {
		left: 1.8rem;
	}
	#resume .timeline-ico {
		height: 3.6rem;
		width: 3.6rem;
		line-height: 3.6rem;
		left: 1.8rem;
		margin-left: -1.8rem;
		font-size: 1.5rem;
	}
	#resume .timeline-header, #resume .timeline-content {
		padding-left: 5.5rem;
	}
}


/** 
 * ===================================================================
 * 12. portfolio
 *
 * ------------------------------------------------------------------- 
 */
#portfolio {
	background: #ffffff;
	padding-top: 12rem;
	padding-bottom: 12rem;
}
#portfolio .folio-item {
	padding: 0;
	position: relative;
	overflow: hidden;
}
#portfolio .folio-item img {
	height: 370px;
	vertical-align: middle;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	-webkit-transition: all 0.5s ease-in-out;
	-ms-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}

#portfolio .overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: transparent;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	-webkit-transition: all 0.5s ease-in-out;
	-ms-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}

#portfolio .folio-item-table {
	display: table;
	width: 100%;
	height: 100%;
}
#portfolio .folio-item-cell {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	-webkit-transition: all 0.5s ease-in-out;
	-ms-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
	position: relative;
	left: -100%;
}

#portfolio .folio-title {
	color: #FFFFFF;
	font-size: 3.3rem;
	padding: 0 3rem;
	margin-bottom: 0;
}
#portfolio .folio-types {
	margin: 0;
	padding: 0;
	text-transform: uppercase;
	font-family: "Montserrat-Regular", sans-serif;
	font-size: 1.2rem;
	letter-spacing: .1rem;
	color: rgba(255, 255, 255, 0.6);
}
#portfolio .folio-item:hover .overlay {
	background: rgba(0, 0, 0, 0.8);
}
#portfolio .folio-item:hover .folio-item-cell {
	left: 0;
}
#portfolio .folio-item:hover img {
	-webkit-transform: scale(1.05);
	-ms-transform: scale(1.05);
	transform: scale(1.05);
}

/**
 * responsive:
 * portfolio
 * ------------------------------------------------------------------- 
 */
@media only screen and (max-width:1024px) {
	#portfolio .folio-title {
		font-size: 3.1rem;
	}
}
@media only screen and (max-width:768px) {
	#portfolio .folio-title {
		font-size: 2.5rem;
	}
}
@media only screen and (max-width:400px) {
	#portfolio .folio-title {
		font-size: 2.2rem;
	}
	#portfolio .folio-item {
	display: flex;
	flex-wrap: wrap;
}
}

/** 
 * ===================================================================
 * 13. interests
 *
 * ------------------------------------------------------------------- 
 */
#interests {
	background-color: black;
	padding-top: 12rem;
	padding-bottom: 20rem;
	color: white;
	position: relative;
}
#interests .overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #151515;
	opacity: .9;
}

#interests .section-intro {
	margin-bottom: 1.8rem;
}

#interests .section-intro h5 {
	color: #FFA500;
}
#interests .section-intro p {
	color: rgba(255, 255, 255, 0.7);
}
.interests-content {
	max-width: 1200px;
}
.interests-list {
	display: flex;
	flex-wrap: wrap;
	float: right;
	margin-top: 8.2rem;
	text-align: center;
}
.interests-list .service {
	margin-bottom: 1.2rem;
	padding: 0 30px;
}
.interests-list .icon {
	display: inline-block;
	margin-bottom: 2.1rem;
}
.interests-list .icon img{
	height: 100px;
	width: 100px;
}
.interests-list .icon i {
	font-size: 5.4rem;
	color: #FFA500;
}
.interests-list h3 {
	color: #FFFFFF;
	font-size: 18px;
	font-weight: normal;
}
.interests-list .desc {
	color: rgba(255, 255, 255, 0.6);
}

/**
 * responsive:
 * interests
 * ------------------------------------------------------------------- 
 */
@media only screen and (max-width:1024px) {
	.interests-list {
	display: flex;
	flex-wrap: wrap;
	float: right;
	margin-top: 1.2rem;
	text-align: center;
}
}
@media only screen and (max-width:768px) {
	#interests {
    padding-bottom: 6rem;
	}
	.interests-list {
	margin-left: 24px;
	display: flex;
	flex-wrap: wrap;
	float: right;
	margin-top: 1.2rem;
	text-align: center;
}
}
@media only screen and (max-width:400px) {
	#interests {
    padding-bottom: 17rem;
	}
	.interests-list {
	margin-left: 70px;
	}
}


/** 
 * ===================================================================
 * 14. contact
 *
 * ------------------------------------------------------------------- 
 */
#contact {
	background: #212121;
	padding-top: 12rem;
	padding-bottom: 7.2rem;
}
#contact .section-intro h5 {
	color: #FFA500;
}
#contact .section-intro p {
	color: #ffffff;
}

/* contact form */
.contact-form {
	max-width: 740px;
}

#contact form {
	margin-top: 0;
	margin-bottom: 3rem;
}
#contact form .form-field {
	position: relative;
}
#contact form .form-field:before, #contact form .form-field:after {
	content: "";
	display: table;
}
#contact form .form-field:after {
	clear: both;
}
#contact form .form-field label {
	font-family: "Montserrat-Bold", sans-serif;
	font-size: 1.1rem;
	line-height: 2.4rem;
	position: absolute;
	bottom: -1.2rem;
	right: .6rem;
	text-transform: uppercase;
	letter-spacing: .1rem;
	padding: 0 2rem;
	margin: 0;
	color: #FFFFFF;
	background: #FFA500;
}
#contact form .form-field label::after {
	position: absolute;
	left: -5px;
	top: 50%;
	margin-top: -6px;
	border-top: 5px solid transparent;
	border-bottom: 5px solid transparent;
	border-right: 5px solid #FFA500;
	content: "";
}
#contact input[type="text"],
#contact input[type="password"],
#contact input[type="email"],
#contact textarea {
	width: 100%;
	color: rgba(255, 255, 255);
	margin-bottom: 0;
	border: none;
	border-bottom: 1px solid rgba(255, 255, 255);
}
#contact input[type="text"],
#contact input[type="password"],
#contact input[type="email"] {
	height: 6.6rem;
	padding: 1.8rem 2rem;
}
#contact input[type="text"]:focus,
#contact input[type="password"]:focus,
#contact input[type="email"]:focus {
	border-color: #FFA500;
	color: #FFFFFF;
}
#contact textarea {
	min-height: 20rem;
	padding: 1.8rem 2rem;
}
#contact textarea:focus {
	border-color: #FFA500;
	color: #FFFFFF;
}
#contact button.submitform {
    font-size: 15px;
    display: block;
    letter-spacing: .2rem;
    height: 6.6rem;
    line-height: 7rem;
    padding: 0 5rem;
    margin-top: 4.8rem;
    width: 25%;
    background: #FFA500;
    color: #000000;
    float: right;
    border-radius: 35px;
}
#contact button.submitform:hover, #contact button.submitform:focus {
	background: #FFA500;
}

.contact-info {
	margin: 4.8rem auto 0;
	font-family: "Montserrat-Regular", sans-serif;
	font-size: 1.5rem;
	text-align: center;
}
.contact-info .collapse {
	padding: 0;
}
.contact-info .icon {
	margin-top: 2.1rem;
}
.contact-info .icon i {
	font-size: 4.2rem;
	color: #FFFFFF;
}
.contact-info h5 {
	color: #FFA500;
}
.contact-info p{
	color: #ffffff;
}

/**
 * responsive:
 * contact
 * ------------------------------------------------------------------- 
 */
@media only screen and (max-width:768px) {
	#contact button.submitform {
    width: 50%;
	}
}
@media only screen and (max-width:400px) {
	#contact button.submitform {
    width: 55%;
	}
}

/** 
 * ===================================================================
 * 15. footer
 *
 * ------------------------------------------------------------------- 
 */
footer {
	background: #262626;
	color: #FFA500;
	padding: 1rem 0 1rem 0;
	font-size: 1.4rem;
	font-family: "Montserrat-Regular", sans-serif;
}
footer a, footer a:visited {
	color: #FFFFFF;
}
footer a:hover, footer a:focus {
	color: #FFA500;
}
footer .row {
	max-width: 900px;
}
footer .social {
	text-align: right;
}
footer .footer-social {
	display: inline-block;
	font-size: 2.1rem;
	margin: 0;
	padding: 0;
	position: relative;
	top: -.3rem;
}
footer .footer-social i:hover{
	color: #FFA500;
}
footer .footer-social li {
	display: inline-block;
	margin: 0 12px;
	padding: 0;
}
footer .footer-social li a {
	color: #FFFFFF;
}
footer .copyright span {
	display: inline-block;
}
footer .copyright span::after {
	content: "|";
	display: inline-block;
	padding: 0 1rem 0 1.2rem;
	color: rgba(255, 255, 255, 0.1);
}
footer .copyright span:last-child::after {
	display: none;
}

/**
 * responsive:
 * footer
 * -------------------------------------------------------------------
 */
@media only screen and (max-width:768px) {
	footer {
		text-align: center;
	}
	footer .social {
		display: block;
		width: 100%;
		text-align: center;
		margin-bottom: 1.5rem;
	}
	footer .copyright span {
		display: block;
	}
	footer .copyright span::after {
		display: none;
	}
}
